apiVersion: v1
kind: Secret
metadata:
  name: ado-creds
  namespace: ${K8S_NAMESPACE}
  annotations:
    replicator.v1.mittwald.de/replication-allowed: "true"
    replicator.v1.mittwald.de/replication-allowed-namespaces: "^ci-.*"
type: Opaque
stringData:
  username: "git"
  token: "${ADO_DEVOPS_TOKEN}"
