apiVersion: v1
kind: Secret
metadata:
  name: azure-creds
  namespace: ${K8S_NAMESPACE}
  annotations:
    replicator.v1.mittwald.de/replication-allowed: "true"
    replicator.v1.mittwald.de/replication-allowed-namespaces: "^ci-.*"
type: Opaque
stringData:
  username: "git"
  token: "${AZURE_DEVOPS_TOKEN}"

