apiVersion: v1
kind: Secret
metadata:
  name: github-creds
  namespace: ${K8S_NAMESPACE}
  annotations:
    replicator.v1.mittwald.de/replication-allowed: "true"
    replicator.v1.mittwald.de/replication-allowed-namespaces: "^ci-.*"
type: Opaque
stringData:
  username: "${GITHUB_USERNAME}"
  token: "${GITHUB_TOKEN}"

