apiVersion: v1
kind: Secret
metadata:
  name: harbor-api-creds
  namespace: ${K8S_NAMESPACE}
type: Opaque
stringData:
  HARBOR_SERVER: "${HARBOR_SERVER}"
  HARBOR_USERNAME: "${HARBOR_USERNAME}"
  HARBOR_PASSWORD: "${HARBOR_PASSWORD}"

