apiVersion: v1
kind: Secret
metadata:
  name: ${SECRET_NAME}
  namespace: ${NAMESPACE}
  annotations:
    replicator.v1.mittwald.de/replication-allowed: "true"
    replicator.v1.mittwald.de/replication-allowed-namespaces: "${REPLICATION_ALLOWED_NAMESPACES}"
type: service.binding/netrc
data:
  type: ${BINDING_TYPE_B64}
  provider: ${BINDING_PROVIDER_B64}
  netrc: ${NETRC_B64}
