apiVersion: v1
kind: Secret
metadata:
  name: ${SECRET_NAME}
  namespace: ${NAMESPACE}
  annotations:
    kpack.io/git: ${KPACK_GIT_ANNOTATION}
    replicator.v1.mittwald.de/replication-allowed: "true"
    replicator.v1.mittwald.de/replication-allowed-namespaces: "^ci-.*"
type: kubernetes.io/ssh-auth
data:
  ssh-privatekey: ${SSH_PRIVATEKEY_B64}
  known_hosts: ${KNOWN_HOSTS_B64}
