apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: argocd-project-setup-template
  namespace: luban-ci
spec:
  entrypoint: create-projects
  serviceAccountName: luban-ci-sa
  arguments:
    parameters:
    - name: project_name
      description: "Name of the project/team (e.g., 'payment')"
    - name: environment
      description: "Target environment (e.g., 'snd', 'prd')"
      value: "snd"
    - name: git_organization
      description: "Git Organization/User (defaults to project_name if empty)"
      value: ""
    - name: git_provider
      description: "Git Provider (e.g., 'github', 'gitlab')"
      value: "github"
    - name: developer_groups
      description: "List of OIDC groups for developer access (JSON array)"
      value: '[]'
    - name: admin_groups
      description: "List of OIDC groups for admin access (JSON array)"
      value: '[]'
    - name: image_pull_secret
      description: "Name of the secret to copy to project namespaces"
      value: "harbor-ro-creds"
    - name: gitops_utils_image
      description: "Image for GitOps utility tools"
      value: "quay.io/luban-ci/gitops-utils:0.3.3"
  templates:
  - name: create-projects
    inputs:
      parameters:
      - name: environment
    steps:
    - - name: determine-git-org
        templateRef:
          name: gitops-helper-template
          template: determine-git-org
        arguments:
          parameters:
            - name: git_organization
              value: "{{workflow.parameters.git_organization}}"
            - name: project_name
              value: "{{workflow.parameters.project_name}}"

    - - name: determine-repos
        templateRef:
          name: gitops-helper-template
          template: get-source-repos
        arguments:
          parameters:
          - name: git_provider
            value: "{{workflow.parameters.git_provider}}"
          - name: git_organization
            value: "{{steps.determine-git-org.outputs.parameters.organization}}"

    - - name: ensure-project
        template: ensure-project
        arguments:
          parameters:
          - name: environment
            value: "{{inputs.parameters.environment}}"
          - name: gitops_repos
            value: "{{steps.determine-repos.outputs.parameters.gitops_repos}}"

  - name: ensure-project
    inputs:
      parameters:
      - name: environment
      - name: gitops_repos
    steps:
    - - name: check-exists
        template: check-project-exists
        arguments:
          parameters:
          - name: environment
            value: "{{inputs.parameters.environment}}"
    - - name: create-project
        template: create-project-resource
        arguments:
          parameters:
          - name: environment
            value: "{{inputs.parameters.environment}}"
          - name: gitops_repos
            value: "{{inputs.parameters.gitops_repos}}"
        when: "{{steps.check-exists.outputs.result}} == false"
    - - name: ensure-pull-secret
        template: ensure-pull-secret
        arguments:
          parameters:
          - name: environment
            value: "{{inputs.parameters.environment}}"

  - name: ensure-pull-secret
    inputs:
      parameters:
      - name: environment
    script:
      image: "{{workflow.parameters.gitops_utils_image}}"
      command: [sh]
      source: |
        TARGET_NS="{{inputs.parameters.environment}}-{{workflow.parameters.project_name}}"
        
        echo "Ensuring namespace $TARGET_NS exists..."
        kubectl create ns $TARGET_NS --dry-run=client -o yaml | kubectl apply -f -
        
        echo "Copying {{workflow.parameters.image_pull_secret}} to $TARGET_NS..."
        kubectl get secret {{workflow.parameters.image_pull_secret}} -n luban-ci -o json | \
        jq 'del(.metadata.namespace,.metadata.resourceVersion,.metadata.uid,.metadata.creationTimestamp)' | \
        kubectl apply -n $TARGET_NS -f -
        
        echo "Patching default ServiceAccount in $TARGET_NS..."
        kubectl patch sa default -n $TARGET_NS -p '{"imagePullSecrets": [{"name": "{{workflow.parameters.image_pull_secret}}"}]}'

  - name: check-project-exists
    inputs:
      parameters:
      - name: environment
    script:
      image: "{{workflow.parameters.gitops_utils_image}}"
      command: [sh]
      source: |
        PROJECT_NAME="{{inputs.parameters.environment}}-{{workflow.parameters.project_name}}"
        echo "Checking if ArgoCD project $PROJECT_NAME exists..." >&2
        if kubectl get appproject $PROJECT_NAME -n argocd > /dev/null 2>&1; then
          echo "Project $PROJECT_NAME already exists." >&2
          echo "true"
        else
          echo "Project $PROJECT_NAME does not exist." >&2
          echo "false"
        fi

  - name: create-project-resource
    inputs:
      parameters:
      - name: environment
      - name: gitops_repos
    resource:
      action: create
      manifest: |
        apiVersion: argoproj.io/v1alpha1
        kind: AppProject
        metadata:
          name: {{inputs.parameters.environment}}-{{workflow.parameters.project_name}}
          namespace: argocd
        spec:
          description: {{workflow.parameters.project_name}} team project for {{inputs.parameters.environment}} environment
          sourceRepos: {{inputs.parameters.gitops_repos}}
          destinations:
          - namespace: {{inputs.parameters.environment}}-{{workflow.parameters.project_name}}
            server: https://kubernetes.default.svc
          - namespace: gateway
            server: https://kubernetes.default.svc
          clusterResourceWhitelist:
          - group: '*'
            kind: '*'
          namespaceResourceWhitelist:
          - group: '*'
            kind: '*'
          roles:
          - name: project-developer
            description: Developer role with read and sync access
            groups: {{workflow.parameters.developer_groups}}
            policies:
            - "p, proj:{{inputs.parameters.environment}}-{{workflow.parameters.project_name}}:project-developer, applications, get, {{inputs.parameters.environment}}-{{workflow.parameters.project_name}}/*, allow"
            - "p, proj:{{inputs.parameters.environment}}-{{workflow.parameters.project_name}}:project-developer, applications, sync, {{inputs.parameters.environment}}-{{workflow.parameters.project_name}}/*, allow"
          - name: project-admin
            description: Admin role with full access
            groups: {{workflow.parameters.admin_groups}}
            policies:
            - "p, proj:{{inputs.parameters.environment}}-{{workflow.parameters.project_name}}:project-admin, applications, *, {{inputs.parameters.environment}}-{{workflow.parameters.project_name}}/*, allow"
