apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: luban-ci-kpack-template
  namespace: luban-ci
spec:
  entrypoint: ci-pipeline
  serviceAccountName: luban-ci-sa
  arguments:
    parameters:
    - name: repo_url
    - name: revision
    - name: app_name
    - name: quay_namespace
      value: "luban-ci"
    - name: stack_tag
      value: "al2023"

  volumeClaimTemplates:
  - metadata:
      name: workdir
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi

  templates:
  - name: ci-pipeline
    steps:
    - - name: checkout
        template: git-checkout
    - - name: build-and-push
        template: build-push

  - name: git-checkout
    container:
      image: alpine/git
      command: [sh, -c]
      args:
      - |
        # Configure git credentials
        git config --global credential.helper store
        echo "https://${GITHUB_USERNAME}:${GITHUB_TOKEN}@github.com" > ~/.git-credentials
        
        echo "Cloning ${REPO_URL}..."
        git clone ${REPO_URL} /workdir/repo
        cd /workdir/repo
        git checkout ${REVISION}
      env:
      - name: GITHUB_USERNAME
        valueFrom:
          secretKeyRef:
            name: github-creds
            key: username
      - name: GITHUB_TOKEN
        valueFrom:
          secretKeyRef:
            name: github-creds
            key: token
      - name: REPO_URL
        value: "{{workflow.parameters.repo_url}}"
      - name: REVISION
        value: "{{workflow.parameters.revision}}"
      volumeMounts:
      - name: workdir
        mountPath: /workdir

  - name: build-push
    container:
      image: registry.k8s.io/buildpacks/kpack/kp:0.14.0
      command: [sh, -c]
      args:
      - |
        # Trigger kpack build
        echo "Triggering kpack build for {{workflow.parameters.app_name}}..."
        kp image trigger {{workflow.parameters.app_name}} \
          --commit {{workflow.parameters.revision}} \
          --wait \
          --namespace luban-ci
      volumeMounts:
      - name: workdir
        mountPath: /workdir
