apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: snd-{{cookiecutter.project_name}}

images:
  - name: {{cookiecutter.registry_server}}/{{cookiecutter.project_name}}/{{cookiecutter.app_name}}
    newTag: "{{cookiecutter.dagster_version}}"

patches:
  - target:
      kind: HTTPRoute
      name: {{cookiecutter.app_name}}
    patch: |-
      - op: replace
        path: /spec/hostnames/0
        value: "snd-{{cookiecutter.app_name}}.{{cookiecutter.domain_suffix}}"
