apiVersion: argoproj.io/v1alpha1
kind: CronWorkflow
metadata:
  name: workflow-cleanup
  namespace: luban-ci
spec:
  schedule: "*/10 * * * *"
  timezone: "UTC"
  startingDeadlineSeconds: 0
  concurrencyPolicy: "Replace"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1
  workflowSpec:
    serviceAccountName: luban-ci-sa
    entrypoint: cleanup
    templates:
    - name: cleanup
      container:
        image: quay.io/luban-ci/gitops-utils:0.3.3
        command: [sh, -c]
        args:
        - |
          echo "Cleaning up workflows older than 15 minutes..."
          argo delete --older 15m --selector workflows.argoproj.io/phase=Succeeded -n luban-ci
          argo delete --older 15m --selector workflows.argoproj.io/phase=Failed -n luban-ci
          argo delete --older 15m --selector workflows.argoproj.io/phase=Error -n luban-ci
