apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: gitops-repo-provision-template
  namespace: luban-ci
spec:
  entrypoint: provision-gitops-repo
  serviceAccountName: luban-ci-sa
  arguments:
    parameters:
      - name: project_name
        description: "Name of the project/team (e.g. dataops)"
      - name: application_name
        description: "Name of the application"
      - name: git_organization
        description: "Git Organization/User"
        value: "metasync"
      - name: git_provider
        description: "Git Provider (github, gitlab, etc.)"
        value: "azure"
        enum:
          - "github"
          - "azure"
      - name: config_file
        description: "Path to configuration file"
        value: ""
      - name: luban_provisioner_image
        description: "Image for the template rendering tool"
        valueFrom:
          configMapKeyRef:
            name: luban-config
            key: luban_provisioner_image

  templates:
    - name: provision-gitops-repo
      inputs:
        parameters:
        - name: project_name
        - name: application_name
        - name: git_organization
        - name: git_provider
        - name: config_file
      
      dag:
        tasks:
          - name: provision-repo
            template: provision-repo
            arguments:
              parameters:
                - name: project_name
                  value: "{{inputs.parameters.project_name}}"
                - name: application_name
                  value: "{{inputs.parameters.application_name}}"
                - name: git_organization
                  value: "{{inputs.parameters.git_organization}}"
                - name: git_provider
                  value: "{{inputs.parameters.git_provider}}"
                - name: config_file
                  value: "{{inputs.parameters.config_file}}"

    - name: provision-repo
      inputs:
        parameters:
          - name: project_name
          - name: application_name
          - name: git_organization
          - name: git_provider
          - name: config_file
      container:
        image: "{{workflow.parameters.luban_provisioner_image}}"
        imagePullPolicy: Always
        command: ["sh", "-c"]
        args:
          - |
            python3 /app/src/main.py gitops \
              --project-name "{{inputs.parameters.project_name}}" \
              --application-name "{{inputs.parameters.application_name}}" \
              --output-dir "/workdir" \
              --git-organization "{{inputs.parameters.git_organization}}" \
              --git-provider "{{inputs.parameters.git_provider}}" \
              --git-server "$GIT_SERVER" \
              --config-file "{{inputs.parameters.config_file}}"
        env:
          - name: GIT_SERVER
            valueFrom:
              configMapKeyRef:
                name: luban-config
                key: "{{inputs.parameters.git_provider}}_server"
                optional: true
          - name: GIT_TOKEN
            valueFrom:
              secretKeyRef:
                name: "{{inputs.parameters.git_provider}}-creds"
                key: token
                optional: true
        volumeMounts:
          - name: workdir
            mountPath: /workdir
  volumeClaimTemplates:
    - metadata:
        name: workdir
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 100Mi
