apiVersion: argoproj.io/v1alpha1
kind: ClusterWorkflowTemplate
metadata:
  name: luban-promotion-template
spec:
  entrypoint: promote-snd-to-prd
  serviceAccountName: workflow-runner
  arguments:
    parameters:
      - name: project_name
        description: "Name of the project/team (e.g., 'payment')"
      - name: app_name
        description: "Name of the application (e.g., 'cart-service')"
      - name: git_organization
        description: "Git Organization/User (defaults to project_name if empty)"
        value: ""
      - name: git_provider
        description: "Git Provider (e.g., 'github', 'azure')"
        value: "azure"
        enum:
          - "github"
          - "azure"
      - name: luban_provisioner_image
        valueFrom:
          configMapKeyRef:
            name: luban-config
            key: luban_provisioner_image

  templates:
    - name: promote-snd-to-prd
      inputs:
        parameters:
          - name: project_name
          - name: app_name
          - name: git_organization
          - name: git_provider
      container:
        image: "{{workflow.parameters.luban_provisioner_image}}"
        command: ["/bin/sh", "-c"]
        args:
          - |
            python3 /app/src/main.py promote \
              --app-name "{{inputs.parameters.app_name}}" \
              --git-organization "{{inputs.parameters.git_organization}}" \
              --git-provider "{{inputs.parameters.git_provider}}" \
              --project-name "{{inputs.parameters.project_name}}" \
              --git-server "$GIT_SERVER"
        env:
          - name: GIT_TOKEN
            valueFrom:
              secretKeyRef:
                name: "{{inputs.parameters.git_provider}}-creds"
                key: token
          - name: GIT_SERVER
            valueFrom:
              configMapKeyRef:
                name: luban-config
                key: "{{inputs.parameters.git_provider}}_server"
                optional: true
