apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: luban-project-setup-template
  namespace: luban-ci
spec:
  entrypoint: setup-project
  serviceAccountName: luban-ci-sa
  arguments:
    parameters:
    - name: project_name
      description: "Name of the project/team (e.g., 'payment')"
    - name: environments
      description: "List of target environments (e.g., [\"snd\", \"prd\"])"
      value: "[\"snd\", \"prd\"]"
    - name: git_organization
      description: "Git Organization/User (defaults to project_name if empty)"
      value: ""
    - name: git_provider
      description: "Git Provider (e.g., 'github', 'gitlab')"
      value: "azure"
      enum:
        - "github"
        - "azure"
    - name: developer_groups
      description: "List of OIDC groups for developer access (JSON array)"
      value: '[]'
    - name: admin_groups
      description: "List of OIDC groups for admin access (JSON array)"
      value: '[]'
    - name: create_test_users
      description: "Create local ServiceAccounts for testing RBAC (yes/no)"
      value: "no"
      enum:
      - "yes"
      - "no"
    - name: registry_visibility
      description: "Project visibility (public or private)"
      value: "public"
      enum:
      - "public"
      - "private"
    - name: luban_provisioner_image
      description: "Image for Luban provisioner tool"
      valueFrom:
        configMapKeyRef:
          name: luban-config
          key: luban_provisioner_image
    - name: gitops_utils_image
      description: "Image for GitOps utility tools"
      valueFrom:
        configMapKeyRef:
          name: luban-config
          key: gitops_utils_image


  templates:
  - name: setup-project
    steps:
    - - name: git-project-setup
        template: git-project-setup
        arguments:
          parameters:
          - name: project_name
            value: "{{workflow.parameters.project_name}}"
          - name: git_organization
            value: "{{workflow.parameters.git_organization}}"
          - name: git_provider
            value: "{{workflow.parameters.git_provider}}"

      - name: namespace-provision
        templateRef:
          name: namespace-provision-template
          template: bootstrap-namespace
        arguments:
          parameters:
          - name: project_name
            value: "{{workflow.parameters.project_name}}"
          - name: environment
            value: "{{item}}"
          - name: git_organization
            value: "{{workflow.parameters.git_organization}}"
          - name: git_provider
            value: "{{workflow.parameters.git_provider}}"
          - name: admin_groups
            value: "{{workflow.parameters.admin_groups}}"
          - name: developer_groups
            value: "{{workflow.parameters.developer_groups}}"
          - name: create_test_users
            value: "{{workflow.parameters.create_test_users}}"
        withParam: "{{workflow.parameters.environments}}"

      - name: harbor-project
        templateRef:
          name: harbor-project-setup-template
          template: create-project
        arguments:
           parameters:
           - name: project_name
             value: "{{workflow.parameters.project_name}}"
           - name: registry_visibility
             value: "{{workflow.parameters.registry_visibility}}"

      - name: argocd-project
        templateRef:
          name: argocd-project-setup-template
          template: create-projects
        arguments:
          parameters:
          - name: environment
            value: "{{item}}"
        withParam: "{{workflow.parameters.environments}}"

  - name: git-project-setup
    inputs:
      parameters:
      - name: project_name
      - name: git_organization
      - name: git_provider
    
    container:
      image: "{{workflow.parameters.luban_provisioner_image}}"
      imagePullPolicy: Always
      command: ["sh", "-c"]
      args:
        - |
          python3 /app/src/main.py project \
            --project-name "{{inputs.parameters.project_name}}" \
            --git-org "{{inputs.parameters.git_organization}}" \
            --git-provider "{{inputs.parameters.git_provider}}" \
            --git-server "$GIT_SERVER"
      env:
        - name: GIT_TOKEN
          valueFrom:
            secretKeyRef:
              name: "{{inputs.parameters.git_provider}}-creds"
              key: token
              optional: true
        - name: GIT_SERVER
          valueFrom:
            configMapKeyRef:
              name: luban-config
              key: "{{inputs.parameters.git_provider}}_server"
              optional: true
