apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: namespace-provision-template
  namespace: luban-ci
spec:
  entrypoint: bootstrap-namespace
  serviceAccountName: luban-ci-sa
  templates:
  - name: bootstrap-namespace
    inputs:
      parameters:
      - name: project_name
      - name: environment
      - name: git_organization
      - name: git_provider
        value: "azure"
        enum:
          - "github"
          - "azure"
      - name: admin_groups
      - name: developer_groups
      - name: create_test_users
        value: "no"
        enum:
        - "yes"
        - "no"
    container:
      image: "{{workflow.parameters.luban_provisioner_image}}"
      command: ["sh", "-c"]
      args:
      - |
        python3 /app/src/main.py k8s \
          --project-name={{inputs.parameters.project_name}} \
          --environment={{inputs.parameters.environment}} \
          --git-org={{inputs.parameters.git_organization}} \
          --git-provider={{inputs.parameters.git_provider}} \
          --admin-groups={{inputs.parameters.admin_groups}} \
          --developer-groups={{inputs.parameters.developer_groups}} \
          --create-test-users={{inputs.parameters.create_test_users}} \
          --image-pull-secret=$IMAGE_PULL_SECRET
      env:
        - name: IMAGE_PULL_SECRET
          valueFrom:
            configMapKeyRef:
              name: luban-config
              key: image_pull_secret
              optional: true
