apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: namespace-provision-template
  namespace: luban-ci
spec:
  entrypoint: bootstrap-namespace
  serviceAccountName: luban-ci-sa
  templates:
  - name: bootstrap-namespace
    inputs:
      parameters:
      - name: project_name
      - name: environment
      - name: git_organization
      - name: git_provider
      - name: admin_groups
      - name: developer_groups
      - name: create_test_users
      - name: image_pull_secret
    container:
      image: quay.io/luban-ci/luban-provisioner:0.1.14
      command: [python3, /app/src/main.py, project]
      args:
      - --project-name={{inputs.parameters.project_name}}
      - --environment={{inputs.parameters.environment}}
      - --git-org={{inputs.parameters.git_organization}}
      - --git-provider={{inputs.parameters.git_provider}}
      - --admin-groups={{inputs.parameters.admin_groups}}
      - --developer-groups={{inputs.parameters.developer_groups}}
      - --create-test-users={{inputs.parameters.create_test_users}}
      - --image-pull-secret={{inputs.parameters.image_pull_secret}}
