apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: prd-{{cookiecutter.project_name}}

images:
  - name: "{{cookiecutter.registry_server}}/{{cookiecutter.project_name}}/{{cookiecutter.app_name}}"
    newTag: "{{cookiecutter.image_tag}}"
