apiVersion: v1
kind: ConfigMap
metadata:
  name: argo-workflows-workflow-controller-configmap
  namespace: argo
data:
  workflowRestrictions: |
    templateReferencing: Strict
  workflowDefaults: |
    spec:
      serviceAccountName: workflow-runner
      ttlStrategy:
        secondsAfterCompletion: 86400 # 24 hours
        secondsAfterSuccess: 1800     # 30 minutes
        secondsAfterFailure: 86400    # 24 hours
      podGC:
        strategy: OnPodCompletion
      activeDeadlineSeconds: 3600     # 1 hour timeout
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
  workflowEvents: |
    enabled: true
  nodeEvents: |
    enabled: true
