apiVersion: v1
kind: ConfigMap
metadata:
  name: argo-workflows-workflow-controller-configmap
  namespace: argo
data:
  workflowRestrictions: |
    templateReferencing: Strict
  workflowDefaults: |
    spec:
      serviceAccountName: workflow-runner
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
  workflowEvents: |
    enabled: true
  nodeEvents: |
    enabled: true
