apiVersion: v1
kind: ConfigMap
metadata:
  name: argo-workflows-workflow-controller-configmap
  namespace: argo
data:
  workflowRestrictions: |
    templateReferencing: Strict
  workflowDefaults: |
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
